<div class="jumbotron col s12 m12 l12">
<div ng-include="'static/templates/navbar.html'"></div>
<div id="tinted-image" class="col s12 m12 l12 valign-wrapper">
<p class="valign center-align">Search and list all gateways<br/><span class="center-align"id="valign2">Simple&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Easily Available&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; Fast<br/></span></p><br>
</div>
</div>
<div class="container">
<div class="content">
<div class="input-field">
    <input placeholder="Search by name or currency" id="search" type="search" ng-model="searchQuery" required>
    <label for="search"><i class="material-icons">search</i></label>
    <i class="material-icons">close</i>
</div>
<button type="submit" class="btn waves-effect waves-light deep-orange darken-4" ng-click="search()">Search</button>

Or

<button class="btn waves-effect waves-light deep-orange darken-4" ng-click="list()">List all</button>


<ul class="collection" ng-if="result.length>0">
    <li class="collection-item avatar" ng-repeat="i in result">
      <span class="title big">{{i.name}}</span>
      <p class="small">{{i.description}}
      </p>
      <p class="small">{{i.image}}
      </p>
      <p class="small">{{i.branding}}
      </p>
      <p class="small">{{i.setup_fee}}
      </p>
      <p class="small">{{i.transaction_fees}}
      </p>
      <p class="small">{{i.how_to_url}}
      </p>
      <p class="small">{{i.currencies}}
      </p>



    </li>
    </ul>
    <p ng-if="result.length==0">No results found.</p>
</div>
