
 <nav class="deep-orange darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left hide-on-med-and-down">Hire Me</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Because</a></li>
        <li><a href="#">I am</a></li>
        <li><a href="#">integral</a></li>
        <li><a href="#">and though I am</a></li>
        <li><a href="#">just a fresher</a></li>
        <li><a href="#">I always</a></li>
        <li><a href="#">try my best</a></li>
        <li><a href="#">to widen my skillset</a></li>
      </ul>
  </nav>