<footer class="page-footer">
      <div class="row">
          <div class="col m3 s12">
            <ul>
                <li><a href="#">About</a></li>  
                <li>|</li>  
                <li><a href="#">Career</a></li>  
                <li>|</li>  
                <li><a href="#">Contacts</a></li> 
            </ul>
          </div>
          <div class="copyright col m6 s12">
            <p>
                &copy; BITEPLANS | All Rights Reserved 
            </p>
          </div>
          <div class="col s3">
          </div>
      </div>
  </footer>