{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/Materialize/dist/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>

<script type="text/javascript" src="{% static 'gateway.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/AuthService.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/dashboardController.js' %}"></script>

