{% load staticfiles %}

<link rel="stylesheet" href="{% static 'bower_components/Materialize/dist/css/materialize.min.css' %}" media="screen,projection">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="screen,projection">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">

<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>